@charset "UTF-8";
#contenedor {
	height: 768px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#back {
	height: 74px;
	width: 74px;
	margin-top: 19px;
	margin-left: 474px;
}
#backhome {
	float: right;
	height: 74px;
	width: 74px;
}
#todolb {
	height: 12331px;
	width: 1024px;
}
#lbinfo {
	height: 12207px;
	width: 1024px;
}
#linkd {
	height: 513px;
	width: 1024px;
}
#linklink {
	height: 254px;
	width: 1024px;
}
#darclick {
	height: 65px;
	width: 65px;
	margin-top: 80px;
	margin-left: 482px;
}
#born {
	height: 195px;
	width: 415px;
	margin-top: 66px;
	margin-left: 72px;
}
#foto {
	height: 440px;
	width: 464px;
	margin-left: 487px;
}
